.form-label{
    display: block;
}

.form_body{
    display: flex;
    justify-content: center;
}
.form_main{
    border: 1px solid #0B5ED7;
    padding: 20px;
    margin-top: 20vh;
    border-radius: 10px;
    box-shadow: 5px 5px #0B5ED7;
}

.navbar_container{
    background-color: #0B5ED7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.row{
    display: flex;
    justify-content: center;
}

.button_holder{
    display: flex;
    justify-content: space-around;
}